/* Dashboard.css */
.logo{
height: 50px;
width: auto;
}
.header-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.mainheading{
    text-align: left;
}
.subheading{
    text-align: left;
}
.simpletext{
    text-Align: left;

}
